<div class="panel panel-info">
  <div class="panel-heading"><span class="glyphicon glyphicon-cloud"></span> Connected Systems</div>
  <div class="list-group">
    <a class="list-group-item"
       ng-repeat="client in ctrl.clients | orderBy: client.hostname"
       ng-click="ctrl.selectClient(client._id)"
       ng-class="{active: client._id === ctrl.selectedClient}">{{client.hostname}}
      <span ng-show="client.stale" title="No data for last hour.." class="glyphicon glyphicon-alert pull-right stale"></span>
    </a>
  </div>
  <p ng-show="ctrl.clients.length === 0">No connected clients</p>
</div>
