body {
    background-color: #121314;
}
.client {
  padding-bottom: 30px;
}

.disk-summary {
  width: 100%;
  background: none;
}

.disk-summary .total {
    color: #5bc0de;
}

.disk-summary .used {
    color: #d16853;
}

.disk-summary .avail {
    color: #84bd00;
}

.disk-summary td {
  text-align: center;
}

header {
  padding-bottom: 30px;
}

header h1 {
	font-family: 'Play';
}

.list-group-item {
  cursor: pointer;
}

.storebror-header-click {
    cursor: pointer;
}

.hostname {
    color: #fc0;
    margin-top: 0;
}

.cid {
    color: #999;
}

.footer {
    text-align: center;
    text-transform: uppercase;
}

.footer img {
    display: inline;
}

.stale {
    color: #d16853;
}

.panel-success > .panel-heading {
  background-color: #222326;
  border-bottom: #84bd00 2px solid;
}

.panel-info > .panel-heading {
  background-color: #222326;
  border-bottom: #5bc0de 2px solid;
}

.form-control {
  background-color: #222326;
  border: #84bd00 1px solid;
  color: #84bd00;

}