<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Storebror</title>
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css"> -->
    <link rel="stylesheet" href="theme.css">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="app">
<div class="container" ng-controller="AppController as vm">

    <header>
        <div class="row">
            <div class="col-sm-3">
                <h1>{{vm.title}}</h1>
            </div>
            <div class="col-sm-9">
                <table class="disk-summary">
                    <tr>
                        <td><h1>Total: {{vm.total.size.value | number : 2}}{{vm.total.size.unit}}</h1></td>
                        <td><h1>Used: {{vm.total.used.value | number : 2}}{{vm.total.used.unit}}</h1></td>
                        <td><h1>Avail: {{vm.total.avail.value | number : 2}}{{vm.total.avail.unit}}</h1></td>
                    </tr>
                </table>
            </div>
        </div>
    </header>

    <div class="row">
        <div class="col-sm-3">
            <h4>Connected systems</h4>
            <div class="list-group">
                <a class="list-group-item"
                   ng-repeat="client in vm.clients | orderBy: client.data.sysinfo.hostname"
                   ng-click="vm.selectClient($index)"
                   ng-class="{active: $index === vm.selectedClientIndex}">{{client.data.sysinfo.hostname}}
                    <span class="badge" ng-show="vm.isOld($index)">!</span>
                </a>
            </div>
            <p ng-show="vm.clients.length === 0">No connected clients</p>

        </div>

        <div class="col-sm-9">

            <div class="client" ng-show="vm.clients.length > 0">
                <div class="row">
                    <div class="col-sm-6">
                        <div ng-include="'views/client.html'"></div>
                    </div>
                    <div class="col-sm-6">
                        <div ng-include="'views/cpu.html'"></div>
                    </div>
                </div>

                <div ng-include="'views/sysinfo.html'"></div>

                <div ng-include="'views/drives.html'"></div>

                <div ng-include="'views/services.html'"></div>

            </div>
        </div>
    </div>
</div>

<script src="components/angular/angular.js"></script>
<script src="app.js"></script>
</body>
</html>