body {
    background: url('images/stressed_linen.png');
}
.client {
  padding-bottom: 30px;
}

.disk-summary {
  width: 100%;
  background: none;
}

.disk-summary .total {
    color: #ffffff;
}

.disk-summary .used {
    color: #d16853;
}

.disk-summary .avail {
    color: #7cc35e;
}

.disk-summary td {
  text-align: center;
}

header {
  padding-bottom: 30px;
}

header h1 {
	font-family: 'Play';
}

.list-group-item {
  cursor: pointer;
}

.storebror-header-click {
    cursor: pointer;
}

.hostname {
    color: #fc0;
    margin-top: 0;
}

.cid {
    color: #999;
}

.footer {
    text-align: center;
    text-transform: uppercase;
}

.footer img {
    display: inline;
}