.client {
  padding-bottom: 30px;
}

.disk-summary {
  width: 100%;
  background: none;
}

.disk-summary td {
  text-align: center;
}

header {
  padding-bottom: 30px;
}

header h1 {
	font-family: 'Play';
}

.list-group-item {
  cursor: pointer;
}

.storebror-header-click {
    cursor: pointer;
}