<h4>System information</h4>
<div class="table-responsive">
<table class="table">
    <tr>
        <th class="col-sm-2">Hostname</th>
        <th class="col-sm-2">IP</th>
        <th class="col-sm-2">Platform</th>
        <th class="col-sm-2">Architecture</th>
        <th class="col-sm-2">Free Memory</th>
        <th class="col-sm-2">Total Memory</th>
    </tr>
    <tr>
        <td>{{vm.client.system.hostname}}</td>
        <td>{{vm.client.system.local}}</td>
        <td>{{vm.client.system.platform}}</td>
        <td>{{vm.client.system.arch}}</td>
        <td>{{(vm.client.system.freemem / 1024.0 / 1024.0 / 1024.0) | number : 1}} GB</td>
        <td>{{(vm.client.system.totalmem / 1024.0 / 1024.0 / 1024.0) | number : 1}} GB</td>
    </tr>
</table>
</div>